# ./backend/.env

FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"
JWT_SECRET="1e6**************************************"


COMPANY_EMAIL_DOMAIN=extramus.eu


GOOGLE_WORKSPACE_DOMAIN=extramus.eu
GOOGLE_ADMIN_SUBJECT=************@extramus.eu


GOOGLE_CREDENTIALS_PATH=E:\Extramus\website\Extramus_EU_Intern_Management_Website\Keys\credentials.json

GOOGLE_SHARED_DRIVE_ID=0AAa6-C*********


GOOGLE_ALL_GROUP=all-group@extramus.eu




# lets the server call /api/reminders/run-now securely
CRON_TOKEN=603f23f5924ee02a837d5e9620ec7c1ab1d15e550907e7f5bd16994b15b6883e




# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback
